@import "tailwindcss";

.content-input {
  outline: none !important;
}

.content-input:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.ProseMirror {
  outline: none !important;
  box-shadow: none !important;
  min-height: 190px;
}

.ProseMirror:focus {
  outline: none !important;
}

/* Placeholder text */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  /* gray-400 */
  pointer-events: none;
  height: 0;
}