@import "tailwindcss";

.content-input {
  outline: none !important;
}

.content-input:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

.ProseMirror {
  outline: none !important;
  box-shadow: none !important;
  min-height: 190px;
}

.ProseMirror:focus {
  outline: none !important;
}

/* Placeholder text */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  /* gray-400 */
  pointer-events: none;
  height: 0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: transparent transparent;
}

/* Firefox hover */
.custom-scrollbar:hover {
  scrollbar-color: rgba(255, 255, 255, 0.35) transparent;
}

/* WebKit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
}

/* Show thumb on hover */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
}

/* Optional: slightly brighter when actively scrolling */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.55);
}